*.env
.DS_Store
*.bak
/target/
/rls/
target-mac
**/*.rs.bk
.idea
**/*.db
test.db-journal
*.log

# Ignore VIM artifacts
*.sw*
*.orig

/scripts/cross_building/staging_dir/
/scripts/cross_building/staging/
/scripts/exit_trust_root
legacy-integration-tests/private-key*
legacy-integration-tests/deps/*
legacy-integration-tests/*
legacy-integration-tests/rita-settings*
legacy-integration-tests/staging*
legacy-integration-tests/althea_rs_*
legacy-integration-tests/target*
legacy-integration-tests/mail/*
legacy-integration-tests/bounty.db-journal
*.pem
*__pycache__*
*.tar*

# Solidity build artifacts
node_modules
typechain
solidity/dist
# Hardhat
cache
artifacts
*.test
