[package]
name = "althea_rs"
version = "0.1.11"
authors = ["Stan Drozd <drozdziak1@gmail.com>"]
edition = "2018"

[workspace]
members = [
    "althea_kernel_interface",
    "settings",
    "clu",
    "antenna_forwarding_client",
    "antenna_forwarding_protocol",
    "auto_bridge",
    "rita_common",
    "rita_exit",
    "rita_client",
    "rita_client_registration",
    "rita_db_migration",
    "rita_bin",
    "test_runner",
    "integration_tests",
]

# Production relase profile, every trick is used to reduce binary size
[profile.release]
opt-level = "z"
strip = true
lto = true
codegen-units = 1
incremental = false

# testrunner should be fast to execute but also to compile
# making the binary smaller does us no good since it's not going
# on a router and not even being uploaded anywhere
[profile.testrunner]
inherits = "dev"
opt-level = 2

[workspace.dependencies]
deep_space = {version = "=2.25.1", features = ["althea"], default-features=false}
web30 = "1.2"
clarity = "1.3"
awc = {version = "3.2", default-features = false, features=["openssl", "compress-gzip", "compress-zstd"]}
althea_proto = "0.8"