[package]
name = "rita_exit"
version = "0.19.13"
edition = "2018"
license = "Apache-2.0"


[dependencies]
# debug is used here to make sure exit logs remain accessible locally
compressed_log = {version="0.5", features = ["debug"]}
sodiumoxide = "0.2"
num256 = "0.3"
rita_common = { path = "../rita_common" }
althea_kernel_interface = { path = "../althea_kernel_interface" }
althea_types = { path = "../althea_types" }
settings = { path = "../settings" }
babel_monitor = { path = "../babel_monitor" }
actix-async = { package = "actix", version = "0.13"}
awc = "3.0.0-beta.21"
handlebars = "4.0"
rand = "0.8.0"
lazy_static = "1.4"
ipnetwork = "0.18"
clarity = "0.5"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
lettre = "0.9"
lettre_email = "0.9"
r2d2 = "0.8"
phonenumber = "0.3"
arrayvec = {version= "0.7", features = ["serde"]}
log = { version = "0.4", features = ["release_max_level_info"] }
reqwest = { version = "0.11", features = ["blocking", "json"] }
exit_db = { path = "../exit_db" }
actix-web-async = {package="actix-web", version = "4.0.1", default_features = false, features= ["openssl"] }
diesel = { version = "1.4", features = ["postgres", "r2d2"] }
ipaddress = "0.1.2"
[features]
