[package]
name = "rita_common"
version = "0.18.10"
edition = "2018"
license = "Apache-2.0"

[dependencies]
actix = "0.7"
rand = "0.8.0"
ipnetwork = "0.14"
serde_derive = "1.0"
hex-literal = "0.3"
docopt = "1.1"
serde = "1.0"
bytes = "1.0"
compressed_log = "0.4"
byteorder = { version = "1.4", features = ["i128"] }
arrayvec = {version= "0.7", features = ["serde"]}
babel_monitor = { path = "../babel_monitor" }
flate2 = { version = "1.0", features = ["rust_backend"], default-features = false }
actix-async = {package="actix", version = "0.12"}
auto-bridge = {path = "../auto_bridge"}
serde_json = "1.0"
log = { version = "0.4", features = ["release_max_level_info"] }
settings = { path = "../settings" }
clarity = "0.5"
futures = { version = "0.3", features = ["compat"] }
num256 = "0.3"
num-traits="0.2"
failure = "0.1"
futures01 = { package = "futures", version = "0.1"}
tokio = "0.1"
bincode = "1.3"
serde_cbor = "0.11"
lazy_static = "1.4"
althea_kernel_interface = { path = "../althea_kernel_interface" }
actix-web-httpauth = {git = "https://github.com/althea-net/actix-web-httpauth"}
actix-web = { version = "0.7", default_features = false, features= ["ssl"] }
awc = {version = "3.0.0-beta.8", default-features = false, features=["openssl", "compress-gzip", "compress-zstd"]}
web30 = "0.18"
althea_types = { path = "../althea_types" }
babel_monitor_legacy = {path = "../babel_monitor_legacy"} 

[dependencies.regex]
version = "1.4"
default-features = false
features = ["std"]
[features]
# disables cors for dash debugging
dash_debug = []
